@font-face {
  font-family: 'Horatio LT Std';
  src: url('../assets/fonts/Horatio LT Std Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #191414;
  color: #ebe0df;
  font-family: 'Alte Haas Grotesk', sans-serif;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.nav-link-transition {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #191414;
}
::-webkit-scrollbar-thumb {
  background: #282828;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1ed760;
}
